<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="404NetAdmin"/>
    <!--Must contain a value to be used for global.asax.cs authentication/roles cookie -->
    <add key="ApplicationVersion" value="1.0"/>
    <!-- Portal Navigation Information -->
    <add key="apppath" value="/"/>
    <add key="appphysicalpath" value="F:\Inetpub\wwwroot\404MarcomE"/>
    <add key="relativeapppath" value="/"/>
    <!-- Application Version Number -->
    <add key="ApplicationVersionNumber" value="1.00"/>
    <!-- Portal Header Draw parameters -->
    <add key="HeaderDisplayLogin" value=""/>
    <!-- e.g. displayLogin('https://directory.hp.com/rfu/'); -->
    <add key="HeaderSetSiteSearch" value=""/>
    <!-- e.g. setSiteSearch('000015', 'XYZ Site'); -->
    <add key="HeaderSetWarningMessage" value=""/>
    <!-- e.g. setWarningMessage('This is a Warning Message'); -->
    <add key="HeaderSetGreetingMessage" value=""/>
    <!-- e.g. setGreetingMessage('Hello Guest'); -->
    <!-- Portal Footer Draw parameters -->
    <add key="FooterSetFooterFeedbackPage" value=""/>
    <!-- e.g. setFooterFeedbackPage('mailto:john.doe@hp.com?subject=Website Feedback'); -->
    <add key="FooterSetLocalSupportPage" value=""/>
    <!-- e.g. setLocalSupportPage('mailto:john.smith@hp.com?subject=Website Support'); -->
    <add key="FooterSetPageConfidential" value=""/>
    <!-- e.g. setPageConfidential(); note: cannot be used with setPagePublic(); -->
    <add key="FooterSetPagePublic" value=""/>
    <!-- e.g. setPagePublic(); note: cannot be used with setPageConfidential();  -->
    <add key="FooterSetVersionNumber" value="setVersionNumber('Portal V2.0');"/>
    <!-- e.g. setVersionNumber('1.0'); -->
    <add key="FooterSetTargetFrame" value="setTargetFrame('_blank');"/>
    <!-- e.g. setTargetFrame('newWindow'); -->
    <add key="FooterDrawSeparator" value=""/>
    <!-- e.g. drawSeparator('10','red'); -->
    <!-- Image Manager Information -->
    <add key="ImageManagerPath" value="http://sdchpcdevap01.sdc.hp.com/tools/404Marcom/Data/ImageManager.aspx"/>
    <add key="ImageManagerWidth" value="800"/>
    <add key="ImageManagerHeight" value="700"/>
    <add key="ImageManagerLeft" value="30"/>
    <add key="ImageManagerTop" value="30"/>
    <add key="ImageManagerScrollbars" value="yes"/>
    <add key="ImageManagerResizable" value="yes"/>
    <add key="ImageManagerImage" value="http://sdchpcdevap01.sdc.hp.com/tools/404Marcom/ImageBuilder/images/imagebrowser.gif"/>
    <add key="ImageManagerAltText" value="Click Here to Launch the Image Manager"/>
    <!-- <add key="ImageManager" value="&lt;A onclick=&quot;MyWindow=window.open('http://sdchpcdevap01.sdc.hp.com/tools/404Marcom/Data/ImageManager.aspx','ImageBrowser','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=800,height=700,left=30,top=30'); return false;&quot; href=&quot;#&quot;&gt;&lt;IMG alt='Click Here to Launch the Image Manager' src='http://demwwwhpcitg01.emea.cpqcorp.net/UI/ImageBuilder/images/imagebrowser.gif' border='0'&gt;&lt;/A&gt;"/>-->
    <add key="ImageManager" value="&lt;A onclick=&quot;MyWindow=window.open('http://weir-hpc.sdc.hp.com/webui/default.aspx','WEIR','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=830,height=550,left=30,top=30'); return false;&quot; href=&quot;#&quot;&gt;&lt;IMG alt='Click Here to Launch the Web Enabled Image Repository' src='http://imagebuilder.emea.hp.com/ImageBuilder/images/imagebrowser.gif' border='0'&gt;&lt;/A&gt;"/>
    <!-- Document (Imag/File) Manager Information -->
    <add key="documentuploadpath" value="/404Marcom/Data/uploaded_files/"/>
    <add key="imageuploadpath" value="/404Marcom/Data/uploaded_images/"/>
    <add key="valid_document_types" value="pdf;ppt;pps;txt;doc;xls;vsd;mpp;jpg;jpeg;jpe;png;gif;bmp;tiff;htm;html;zip;swf"/>
    <add key="valid_image_types" value="jpg;jpeg;jpe;png;gif;bmp;tiff"/>
    <add key="maximum_file_size" value="2147483648"/>
    <!--2MB-->
    <add key="maximum_image_size" value="256000"/>
    <!--250KB-->
    <!-- Portal Support Information -->
    <!--<add key="portal_admin_mail_address" value="vijay.kumar-k-r@hp.com" /> -->
    <add key="portal_admin_mail_address" value="alexandru-george.grigoriu@hpe.com"/>
    <add key="portal_admin_mail_subject" value="Feedback from 404Marcom Portal"/>
    <add key="portal_admin_access_request" value="Request for 404Marcom Portal Access"/>
    <!--<add key="portal_admin_error_address" value="mohan.prasath-ramesh@hpe.com" />-->
    <add key="portal_admin_error_address" value="mohan.prasath-ramesh@hpe.com"/>
    <add key="portal_admin_error_subject" value="Error on DEV 404Marcom Portal"/>
    <add key="portal_admin_error_hotline" value="+91 80 261 50041"/>
    <!-- Portal Connectivity Information -->
    <!--Data Source=.;Initial Catalog=hpcom_404_Admindb;Integrated Security=True-->
    <add key="ConnectionString" value="data source=GVS91906.houston.hpecorp.net,2048;User ID=404Admin;Password=404Marcom@2014;database=HPECOM_404_ADMINDB;" />
    <add key="hpcom_404_Redirect_ConnectionString" value="data source=GVS91906.houston.hpecorp.net,2048;User ID=RedirectUser;Password=404Redirect@2014;database=HPECOM_404_REDIRECT" />
    <!--<add key="ConnectionString" value="data source=G9W0120.houston.hp.com,2048;User ID=404Admin;Password=404Marcom@2016;database=hpcom_404_Admindb;" />
    <add key="hpcom_404_Redirect_ConnectionString" value="data source=G9W0120.houston.hp.com,2048;User ID=RedirectUser;Password=404Redirect@2016;database=hpcom_404_Redirect" />-->
    <!--<add key="ConnectionString" value="data source=gvv50636.atlanta.hp.com,2048;User ID=404Admin;Password=404Marcom@2014;database=hpcom_404_Admindb;"/>
    <add key="hpcom_404_Redirect_ConnectionString" value="data source=gvv50636.atlanta.hp.com,2048;User ID=RedirectUser;Password=404Redirect@2014;database=hpcom_404_Redirect"/>-->
    <!-- LDAP Information -->
    <add key="LDAPLocation" value="LDAP://hpe-pro-ods-ed.infra.hpecorp.net/o=hp.com"/>
       <add key="LDAPLocationE" value="LDAP://hpe-pro-ods-ed.infra.hpecorp.net/o=hp.com"/>
    <add key="LDAPLocationS" value="LDAP://hpe-pro-ods-ed.infra.hpecorp.net/o=hp.com"/>
    <!--<add key="LDAPLocation" value="LDAP://ldap.hp.com:389/" />-->
    <!-- Proxy and Browser Information -->
    <add key="image_browser" value="/404Marcom/Data/ImageManager.aspx"/>
    <add key="file_browser" value="/404Marcom/Data/FileManager.aspx"/>
    <add key="smtp_server" value="smtp3.hpe.com"/>
    <!-- <add key="proxy_server" value="proxy.dem.cpqcorp.net" />-->
    <!--<add key="proxy_server" value="bbnwebcachevip.bastion.europe.hp.com"/>-->
    <add key="proxy_server" value="web-proxy.corp.hpecorp.net"/>
    <add key="proxy_server_port" value="8080"/>
    <add key="Being_Updated" value="Being Updated"/>
    <add key="Key_Links_Label" value="Useful Links"/>
    <add key="Show_Hide_Full_News_Item" value="Show/Hide Full News Item"/>
    <add key="Intranet_Home_Page" value="http://athp.hp.com"/>
    <add key="PublicSite_Home_Page" value="http://www.hpe.com"/>
    <add key="Updated" value="Updated: "/>
    <add key="Page_Views" value="Page Viewed: "/>
    <add key="Times" value=" times"/>
    <!-- Site Meta Information -->
    <add key="Meta_Keywords" value="ImageBuilder Portal Solution, .NET, Dynamic, Personalized, "/>
    <add key="Meta_ATHP_Language" value="en"/>
    <add key="Meta_ATHP_Geography" value="EMEA"/>
    <add key="DefaultCountryCode" value="EMEA"/>
    <add key="DefaultLanguageCode" value="en"/>
    <add key="DefaultLocaleCode" value="en_US"/>
    <!-- The language direction is to handle 'lefttoright' and 'righttoleft' languages. Enter either ltr or rtl. -->
    <add key="language_style" value="western_european"/>
    <!--not yet used-->
    <add key="language_direction" value="ltr"/>
    <add key="align_left" value="left"/>
    <add key="align_right" value="right"/>
    <!-- Breadcrumb Navigation -->
    <add key="Breadcrumb_Navigation" value="off"/>
    <!-- Edit Form Url Validation, either on or off -->
    <add key="UrlValidationChecking" value="off"/>
    <add key="DomainValidationRegularExpression" value="(?i)^(https?://){1,1}([\w-]+\.)+hpe\.|compaq\.(/[\w- ./?%&amp;=]*)?"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <httpRuntime requestValidationMode="2.0"/>
    <trust level="Full"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <!-- Change this to remote only while deploying to production-->
    <!--<customErrors mode="On" defaultRedirect="~/error/DesktopPortalError.aspx">
      <error statusCode="404" redirect="~/error/desktop404.aspx" />
      <error statusCode="403" redirect="~/error/desktop403.aspx" />      
    </customErrors>-->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="None"/>
    <identity impersonate="false"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="?"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <machineKey decryptionKey="E2B1849FB382B6760929B85730D1A7F83AFC606479983D6E,IsolateApps" validationKey="89BEE5759EF4BDB57AB85E189837DF80D78D2F389272D8E29F40DA99AC91DCB9FC88F8EDDD006ECCDBAC2494E484570E79422E0B8CF3FBD833088F18411A6188,IsolateApps"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
